@import "tailwindcss";

@theme {
  --breakpoint-ssm: 480px;
}

input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

/* Firefox */
input[type=number] {
  -moz-appearance: textfield;
}

body{
    overflow-x: hidden;
    user-select: none;
}

html {
  scrollbar-width: auto;
  scrollbar-color: black;
}

/* Scrollbar width */
html::-webkit-scrollbar {
  width: 6px;
}

/* Background of scrollbar */
html::-webkit-scrollbar-track {
  background:  transparent;
}

/* Scroll thumb */
html::-webkit-scrollbar-thumb {
  background: #88358F;
  border-radius: 10px;
}

/* Hover effect */
html::-webkit-scrollbar-thumb:hover {
  background: #555;
}



.spinner {
   position: relative;
   width: 22.4px;
   height: 22.4px;
}

.spinner::before,
.spinner::after {
   content: '';
   width: 100%;
   height: 100%;
   display: block;
   animation: spinner-b4c8mmmd 0.5s backwards, spinner-49opz7md 1.25s 0.5s infinite ease;
   border: 5.6px solid #88358F;
   border-radius: 50%;
   box-shadow: 0 -33.6px 0 -5.6px #88358F;
   position: absolute;
}

.spinner::after {
   animation-delay: 0s, 1.25s;
}

@keyframes spinner-b4c8mmmd {
   from {
      box-shadow: 0 0 0 -5.6px #88358F;
   }
}

@keyframes spinner-49opz7md {
   to {
      transform: rotate(360deg);
   }
}


button{
    user-select: none;
    cursor: pointer;
}
label{
  font-size: 15px;
}


